[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
twine = "*"
pytest = "*"
"bump2version" = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}
sphinx = "*"
coverage = "*"
tox = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
