[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
pexpect = "*"
pick = "*"

[dev-packages]
twine = "*"
pytest = "*"
"bump2version" = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}
sphinx = "*"
coverage = "*"
tox = "*"
pytest-cov = "*"
sphinx-autobuild = "*"
"doc8" = "*"
pytest-lazy-fixture = "*"
rope = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
